.app-grid {
  height: 80vh;
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "commands board board board boards"
    "commands board board board boards"
    "commands board board board boards"
    "btns     btns  btns  btns  btns";
  &__item {
    border: 1px solid #666;
    &-title {
      border-bottom: 1px dashed #666;
      text-align: center;
    }
  }
}
